html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  padding: 0 !important;
}
/************** header **************/
header {
  width: 100%;
  height: 50%;
  background-image: url('../../assets/images/goTrip.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}
/* logo */
#logo {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
#logo h1,
#logo p {
  text-align: center;
  color: #664905;
}
#logo h1 {
  border-radius: 50%;
  padding: 20px;
  width: 100px;
  height: 45px;
  margin: auto;
  border: 1px solid #664905;
  background-color: #fff;
}
#logo p {
  font-weight: 400;
  font-size: 16px;
  font-family: fantasy;
}
/* Wrapper */
/************** Buttons **************/
/* search box wrapper*/
.citySearch {
  -webkit-box-align: center;
  -ms-flex-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 30%;
  background-color: #0184AB;
  color: #fff;
}
#findCities {
  font-size: 14px;
}
/* Select dropdown menu */
#controls {
  -webkit-box-flex: 1 1 130px;
  -ms-flex: 1 1 130px;
  flex: 1 1 130px;
  margin-top: 16px;
}
#country{
  width: 100%;
  height: 3em;
  padding: 10px;
  box-sizing: border-box;
  background: rgba(0,0,0,0.6);
  border: 1px solid #fff;
  border-radius: 10px;
  color: #fff;
  outline: none;
  font-size: 14px;
}
#country,
#locationField input{
  margin-top: 5px;
}
/* For city search */
#locationField {
  -webkit-box-flex: 1 1 190px;
  -ms-flex: 1 1 190px;
  flex: 1 1 190px;
  margin-top: 20px;
}
#locationField input{
  padding: 10px;
  box-sizing: border-box;
  background: rgba(0,0,0,0.6);
  border: 1px solid #fff;
  border-radius: 10px;
  color: #fff;
  outline: none;
  font-size: 14px;
}
/* Radio buttons */
#searchSelected {
  display: flex;
  flex-direction: column;
  background-color: #E0F2F7;
  width: 100%;
}
#searchSelected label{
  text-align: center;
  color: #000;
  padding: 30px 10px;
  border-bottom: 1px solid #000;
  flex-basis: 30%;
}
#searchSelected label:first-child{
  border-top: 1px solid #000;
}
#searchSelected label:hover{
  background-color: #AA924F;
  color: #fff;
  cursor: pointer;
}
#searchSelected input {
  position: absolute;
  left: 30%;
}
/************** google map places and results style **************/
    #map {
      height: 100%;
      width: 100%;
      margin: auto;
    }
    .results{
      text-align: center;
      font-size: 18px;
      font-family: cursive;
      font-weight: 400;
      background-color: red;
    }
    table {
      font-size: 12px;
    }
    #listing {
      width: 100%;
      height: 470px;
      overflow: auto;
      cursor: pointer;
      overflow-x: hidden;
      margin: auto;
    }
    #autocomplete {
      width: 100%;
    }
    .placeIcon {
      width: 20px;
      height: 34px;
      margin: 4px;
    }
    .placeIcon {
      width: 24px;
      height: 24px;
    }
    #resultsTable {
      border-collapse: collapse;
      width: 100%;
    }
    #rating {
      font-size: 13px;
      font-family: Arial Unicode MS;
    }
    .iw_table_row {
      height: 18px;
    }
    .iw_attribute_name {
      font-weight: bold;
      text-align: right;
    }
    .iw_table_icon {
      text-align: right;
    }
/*--------------------------------------------Media Queries*/
@media(min-width: 992px) {
  body {
    max-width: 1200px;
    margin: auto;
  }
  .citySearch {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  #controls,
  #locationField {
    margin-top: 0;
  }
  #controls,
  #locationField {
  margin: 10px 7em;
  }
  /* Radio buttons */
  #searchSelected {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  #searchSelected label{
    padding: 30px;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
  }
  #searchSelected input {
  position: inherit;
  margin-right: 10px;
  }
  #searchSelected label:last-child {
    border-right: none;
  }
}
