@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*--------------------------------------------Colors*/
#logo h1 {
  color: #664905;
}
#logo h1 {
  background-color: #fff;
}
#logo p {
  color: #fff;
  background-color: #664905;
  font-weight: 400;
  padding:  10px;
}
#country,
#locationField input,
#footer span,
.results,
.citySearch  {
  color: #fff;
}
.citySearch {
  background-color: #0184AB;
}
#searchSelected {
  background-color: #E0F2F7;
}
.results {
  background-color: #81853B;
}
#searchSelected label,
.iw_table_row {
  color: #000;
}
#listing {
  background-color: #F2F2F2;
}
.iw_attribute_name {
  color: #0648B0;
}
tr {
  background-color: #E2E9F4;
}
#footer {
  background-color: #284F87;
}

/*--------------------------------------------Hover*/
#searchSelected label:hover{
  background-color: #1F2A39;
  color: #fff;
  cursor: pointer;
}
#info-content table tr:hover,
#results td:hover  {
  background-color: #C1C8D3;
}
/*--------------------------------------------Body*/
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  padding: 0 !important;
}
/*--------------------------------------------Header*/
header {
  width: 100%;
  height: 50%;
  background-image: url('../../assets/images/goTrip.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}
/* logo */
#logo {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
#logo h1,
#logo p {
  text-align: center;
}
#logo h1 {
  border-radius: 50%;
  padding: 20px;
  width: 100px;
  height: 45px;
  margin: auto;
  border: 1px solid #664905;
}
#logo p {
  font-weight: 400;
  font-size: 16px;
  font-family: fantasy;
}

/*--------------------------------------------Search and Buttons*/
/* search box wrapper*/
.citySearch {
  -webkit-box-align: center;
  -ms-flex-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 12em;
}
#findCities {
  font-size: 14px;
}
/* Select dropdown menu */
#controls {
  -webkit-box-flex: 1 1 130px;
  -ms-flex: 1 1 130px;
  flex: 1 1 130px;
  margin-top: 16px;
}
#country{
  width: 100%;
  height: 3em;
}
#locationField {
  -webkit-box-flex: 1 1 190px;
  -ms-flex: 1 1 190px;
  flex: 1 1 190px;
  margin-top: 20px;
}
#country,
#locationField input{
  margin-top: 5px;
  box-sizing: border-box;
  background: rgba(0,0,0,0.6);
  border: 1px solid #fff;
  border-radius: 10px;
  outline: none;
  font-size: 14px;
  padding: 10px;
}
/* Radio buttons */
#searchSelected {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#searchSelected label{
  text-align: center;
  padding: 30px 10px;
  border-bottom: 1px solid #000;
  flex-basis: 30%;
}
#searchSelected label:first-child{
  border-top: 1px solid #000;
}
#searchSelected input {
  position: inherit;
  margin-right: 10px;
}
/*--------------------------------------------Map and Search results*/
#map {
  height: 80%;
  width: 100%;
  margin: auto;
}
.results{
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-family: cursive;
  font-weight: 400;
  margin: 0;
  padding: 10px 5px;
}
#resultsTable {
  font-size: 14px;
}
#results td {
  padding: 0 10px;
}
#listing {
  width: 100%;
  height: 80%;
  overflow: auto;
  cursor: pointer;
  overflow-x: hidden;
  margin: auto;
}
#autocomplete {
  width: 100%;
}
.placeIcon {
  width: 20px;
  height: 34px;
  margin: 4px;
}
.placeIcon {
  width: 24px;
  height: 24px;
  padding: 5px;
}
#resultsTable {
  border-collapse: collapse;
  width: 100%;
}
#rating {
  font-size: 13px;
  font-family: Arial Unicode MS;
}
.iw_table_row {
  height: 18px;
}
.iw_attribute_name {
  font-weight: bold;
  text-align: right;
}
.iw_table_icon {
  text-align: right;
}
tr {
  line-height: 1.2em;
}
/*--------------------------------------------Footer*/
#footer{
 position: relative;
 height: 50px;
 margin: 0;
}
#footer span{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
/*--------------------------------------------Media Queries*/
@media(min-width: 992px) {
  body {
    max-width: 1100px;
    margin: auto;
  }
  /* Search box wrapper and Select dropdown menu */
  .citySearch {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  #controls,
  #locationField {
    margin-top: 0;
  }
  #controls,
  #locationField {
  margin: 10px 5em;
  }
  /* Radio buttons */
  #searchSelected {
    flex-direction: row;
  }
  #searchSelected label{
    padding: 30px;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
  }
  #searchSelected label:last-child {
    border-right: none;
  }
  /* Map and Search Results*/
  #map {
    float: left;
    width: 70%;
    margin-left: 0;
  }
  #listing{
    width: 30%;
  }
}
